<div style="text-align: right"><b>DS50 2024</b> | Python by <a href="https://www.linkedin.com/in/bemnetdev/">Bemnet Girma</a></div>

#
# <center><font size="80">ðŸ”¢</font><br><br>CHAPTER FIVE<br><br><font size="80">DATA TYPES</font><br><br><hr style="border:6px solid black"> </hr></center>

## Lesson One : Introduction to Data Types
All programming languages aim is to create some data then do some actions / operations on the data, i.e. processing data. The data can be categorized into
different types. Categorizing the data is important in order to perform the operations on it. That classification, which states the type of data stored in the variable is called data type.

### <font color='red'>What is a data type?</font>
Data Type is type of data that to be stored in a variable, simple as that.

Generally based on their creations data types can be classified into two types:

<b>1. User defined data types:</b> Data types which are created by programmer (you), example is class, module, array etc.

<i><b><font color='blue'>PS. Donâ€™t worry, We will discuss it more later in OOPS Chapter.</font></b></i>

<b>2. Built-in data types:</b> Data types which are already available in python.

Built-in data types also classified into:
* None
* Bool / booleans
* Numeric types
    * Int
    * Float
    * Complex
* Sequences / Collections
    * list
    * tuple
    * set
    * dict
    * str

ðŸ’¡<i>What if we want to create empty variable (a variable without value)?</i>

### None data type
None data type represents an object that does not contain any value. If any object has no value, then we can assign that object with None type.

<blockquote>
Syntax to create None data type variable:
    
<code>v = None</code>
</blockquote>

ðŸ’¡<i>How to know a variable is belongs to specific data type?</i>

<blockquote>
Syntax to know data type of a variable:
    
<code>type(v)</code>
</blockquote>

### <font color='red'>What is type() function?</font>
type() is an in built or pre-defined function, which is used to check data type of a variable.

Ex 5.1 ( Printing None data type )

In [1]:
box = None
print("The Box is",box)
print(type(box))

The Box is None
<class 'NoneType'>

ðŸ’¡<i>What if we want to store facts (True / False) values?</i>

### Bool ( boolean ) data Type
The bool data type represents boolean values in python. bool data type having only two values those are, True and False. Python internally represents, True as 1(one) and False as 0(zero).

Ex 5.2 ( Printing bool values )

In [2]:
a = True
b = False
print("Gravity = 9.81",a)
print("1 + 2 = 5 is",b)
print(type(a))
print(type(b))

Gravity = 9.81 True
1 + 2 = 5 is False
<class 'bool'>
<class 'bool'>

### <b>`EXERCISE 5.1`<b>

`Create a variable "gf" and print any general fact and its data type?`

In [3]:
# write your answer code here

## Lesson Two : Numeric Data Types

ðŸ’¡<i>What if we want to store number in a variable?</i>

### 1. int data type
The int data type represents values or numbers without decimal values. In python there is no limit for int data type. It can store very large values conveniently.

Ex 5.3 ( Print integer value )

In [4]:
Sid = 16784
print("My student id is",Sid)
print(type(Sid))

My student id is 16784
<class 'int'>

### <b>`EXERCISE 5.2`<b>

`Create a variable "s" and store number of subjects you are taking on this semester then print it and its data type?`

In [5]:
# write your answer code here

ðŸ’¡<i>What if we want to store decimal number?</i>

### 2. float data type
The float data type represents a number with decimal values.

Ex 5.4 ( Print float value )

In [6]:
grade = 9.74
print("My grade is",grade)
print(type(grade))

My grade is 9.74
<class 'float'>

### <b>`EXERCISE 5.3`<b>

`Create a variable "T" and store current temperature then print it and its data type?`

In [7]:
# write your answer code here

ðŸ’¡<i>What if we want to store complex number?</i>

### 3. complex data type
The complex data type represents the numbers which is written in the form of a+bj or a-bj, here a is representing a real and b is representing an imaginary part of the number. The suffix small j or upper J after b indicates the square root of -1. The part "a" and "b" may contain integers or floats.

Ex 5.5 ( Print complex value )

In [8]:
a = 3 + 6j
b = 2 - 5.5j
c = 2.4 + 7j
print(a, b, c)
print(type(a))

(3+6j) (2-5.5j) (2.4+7j)
<class 'complex'>

## Lesson Three : Sequence Data Types
Sequences in python are objects that can store a group of values. The below data types are called sequences.
* String
* List
* Tuple
* Set
* Dictionary

ðŸ’¡<i>What if we want to store text in a variable?</i>

### 1. String data type
A group of characters enclosed within single quotes or double quotes or triple quotes is called a string.

<i><b><font color='blue'>PS. We will discuss more in the String Chapter.</font></b></i>

Ex 5.6 ( Printing string using single quote )

In [9]:
name = 'John'
print("My name is",name)
print(type(name))

My name is John
<class 'str'>

ðŸ’¡<i>What if there is an apostrophe in a string?</i>

Ex 5.7 ( Printing string using double quote )

In [10]:
book = "John's book"
print("This is",book)
print(type(name))

This is John's book
<class 'str'>

ðŸ’¡<i>What if there is both apostrophe and double quote in a string?</i>

Ex 5.8 ( Printing string using triple quote )

In [11]:
v = '"Johnâ€™s book is awesome."'
print("{} Michael J.".format(v))
print(type(v))

"Johnâ€™s book is awesome." Michael J.
<class 'str'>

### <b>`EXERCISE 5.4`<b>

`Create a variable "n", "s", "q" and store your name, your favorite song and your favorite quote respectively. then print it?`

In [12]:
# write your answer code here

ðŸ’¡<i>What if we want to describe our code with title, author, date and moreover about our code?</i>

### <font color='red'>What is comment?</font>
Comment is a programmer-readable explanation or annotation in the source code.

<b>Must know about Comment</b>
1. Comments are useful to describe the code in an easy way.
2. Python ignores comments while running the program.
3. To comment python code, we can use hash symbol #
4. For multi-line comments, we can use single / double / triple quotation marks.

Ex 5.9 ( Code Description using Comment )

In [13]:
# My First Python program
# Author: John Michael
# Date: 21/07/2020
print("Hello World")

Hello World

### <b>`EXERCISE 5.5`<b>

`Write any python code that you have learned before then describe your code by`
    
`âœ“ Title of the code`
    
`âœ“ Coder name`

`âœ“ Date`

`âœ“ Place`

In [14]:
# write your answer code here

ðŸ’¡<i>What if we want to store multiple group of values inside a single variable?</i>

### 2. List data type
We can create list data structure by using square brackets []. A list can store different data types. list is mutable (elements can be removed or added).

<i><b><font color='blue'>PS. We will discuss more in the List Chapter.</font></b></i>

<blockquote>
Syntax to create List :
    
<code>name_of_list = [element,...]</code>
</blockquote>

Ex 5.10 ( Creating a List )

In [15]:
detail = [1, 'John', 9.5, 'pass', 1]
print("My details",detail)
print(type(detail))

My details [1, 'John', 9.5, 'pass', 1]
<class 'list'>

### <b>`EXERCISE 5.6`<b>

`Create a list of your favorite subjects then print it and its data type?`

In [16]:
# write your answer code here

ðŸ’¡<i>What if we donâ€™t want to add or remove elements ( Create unmodifiable data )?</i>

### 3. Tuple data type
We can create tuple data structure by using parenthesis (). A tuple can store different data types. tuple is immutable.

<i><b><font color='blue'>PS. We will discuss more in the Tuple Chapter.</font></b></i>

<blockquote>
Syntax to create Tuple :
    
<code>name_of_tuple = (element,...)</code>
</blockquote>

Ex 5.11 ( Creating a Tuple )

In [17]:
detail = (1, 'John', 9.5, 'pass', 1)
print("My details",detail)
print(type(detail))

My details (1, 'John', 9.5, 'pass', 1)
<class 'tuple'>

### <b>`EXERCISE 5.7`<b>

`Create a tuple of days in a week then print it and its data type?`

In [18]:
# write your answer code here

ðŸ’¡<i>What if we donâ€™t want repeated element(like 1)?</i>

### 4. Set data type
We can create set data structure by using parentheses symbols (). set can store same type and different type of elements.

<i><b><font color='blue'>PS. We will learn more in the Set Chapter.</font></b></i>

<blockquote>
Syntax to create Set :

<code>name_of_set = {element,...}</code>
</blockquote>

Ex 5.12 ( Create a Set )

In [19]:
detail = {1, 'John', 9.5, 'pass', 1}
print("My details",detail)
print(type(detail))

My details {'pass', 1, 9.5, 'John'}
<class 'set'>

### <b>`EXERCISE 5.8`<b>

`Create a set of your favorite books then print it and its data type?`

In [20]:
# write your answer code here

<i>What if we want to pair of related elements ( for example pair of Athleteâ€™s name with their rank )?</i>

### 5. Dictionary data type
We can create dictionary type by using curly braces {}. dict represents a group of elements in the form of key value pairs like map.

<i><b><font color='blue'>PS. We will discuss more in Dictionary Chapter.</font></b></i>

<blockquote>
Syntax to create Dictionary :

<code>name_of_dictionary = {key:value,...}</code>
</blockquote>

Ex 5.13 ( Create Dictionary )

In [21]:
Info ={2:'John', 1:'Mike', 3:'Dani'}
print("Race",Info)
print(type(Info))

Race {2: 'John', 1: 'Mike', 3: 'Dani'}
<class 'dict'>

### <b>`EXERCISE 5.9`<b>

`Create a football player and jersey pair of dictionary then print it and its data type?`

In [22]:
# write your answer code here

## Lesson Four : Conversion of Data Types
Based on requirements, developers/programmers can convert from one data type into another data type explicitly, this is called type conversion. Python provides the following inbuilt functions to convert from one type to another type.

* int() : convert from other type into int type
* float() : convert from other type into float type
* complex() : convert from other type to complex
* bool() : convert from other type into bool type
* str() : convert from other type into str type

### 1. Convert to float
Ex 5.14 ( Convert to float data type )

In [23]:
i = 65
itf=float(i) #Integer to float
print(itf)
print(type(itf))

65.0
<class 'float'>

### 2. Convert to integer
Ex 5.15 ( Convert float to integer data type )

In [24]:
f = 65.89
fti=int(f) #float to Int
print(fti)
print(type(fti))

65
<class 'int'>

Ex 5.16 ( Convert string to integer data type )

In [25]:
st = '123'
sti = int(st,10) #Str(No.) to Int
print(sti)
print(type(sti))

123
<class 'int'>

Ex 5.17 ( Convert character to integer data type )

In [26]:
ch = 'A' #Character to Int(ASCII)
cti = ord(ch)
print(cti)
print(type(cti))

65
<class 'int'>

### <font color='red'>What is ASCII Value?</font>
ASCII Value is a standard that assigns letters, numbers, and other characters.

<img src="https://raw.githubusercontent.com/bemnetdev/Python/main/Images/ASCII%20value.png" align="left" width="50%">

### 3. Convert to complex
Ex 5.18 ( Convert Real No. to complex data type )

In [27]:
r = 6 #Real No. to Complex No.
rtc = complex(r)
print(rtc)
print(type(rtc))

(6+0j)
<class 'complex'>

### 4. Convert to string
Ex 5.19 ( Convert integer to string data type )

In [28]:
i = 65
itst = str(i) #Int to Str
print(itst)
print(type(itst))

65
<class 'str'>

Ex 5.20 ( Convert ASCII to string data type )

In [29]:
nta = chr(65) #ASCII Value to str
print(nta)
print(type(nta))

A
<class 'str'>

### 5. Convert to list
Ex 5.21 ( Convert Tuple to List data type )

In [30]:
t = (1,'John',9.5,'pass')
ttl = list(t) #Tuple to List
print(ttl)
print(type(ttl))

[1, 'John', 9.5, 'pass']
<class 'list'>

Ex 5.22 ( Convert Set to List data type )

In [31]:
s = {1,'John',9.5,'pass'}
stl = list(s) #Set to List
print(stl)
print(type(stl))

['pass', 1, 9.5, 'John']
<class 'list'>

### 6. Convert to tuple
Ex 5.23 ( Convert List to Tuple data type )

In [32]:
l = [1,'John',9.5,'pass']
ltt = tuple(l) #List to Tuple
print(ltt)
print(type(ltt))

(1, 'John', 9.5, 'pass')
<class 'tuple'>

Ex 5.24 ( Convert Set to Tuple data type )

In [33]:
s = {1,'John',9.5,'pass'}
stt = tuple(s) #Set to Tuple
print(stt)
print(type(stt))

('pass', 1, 9.5, 'John')
<class 'tuple'>

### 7. Convert to set
Ex 5.25 ( Convert to Set data type )

In [34]:
l = [1,'John',9.5,'pass']
lts=set(l) #List to Set
print(lts)
print(type(lts))
t = (1,'John',9.5,'pass')
tts=set(t) #Tuple to Set
print(tts)
print(type(tts))

{'pass', 1, 9.5, 'John'}
<class 'set'>
{'pass', 1, 9.5, 'John'}
<class 'set'>

# // END OF CHAPTER FIVE
<a href="https://www.linkedin.com/in/bemnetdev/">Click here</a> for Chapter Six